@{
    ViewData["Title"] = "Home Page";
}
@section Register{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Create">Apply</a>
    </li>
}
@section TrackId{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Search">Check Application</a>
    </li>
}
<div class="text-center jumbotron">
    <h1 class="display-4 text-uppercase text-white font-weight-bolder">Welcome to GIC</h1>
</div>
